footer
	@include flexCenter
	color: $text-color
	padding: 2.5em
	section
		margin: 0 1em 0 1em
		a
			text-decoration: none
			color: $secondary-color
		.social-link
			display: inline-block
			width: 2em
			height: 2em
			background-size: 2em 2em
			margin: 0 0.6em
			&.twitter
				background-image: url("https://img.icons8.com/external-tal-revivo-tritone-tal-revivo/64/null/external-twitter-alphabet-t-logo-which-no-more-exists-logo-tritone-tal-revivo.png")
			&.instagram
				background-image: url("https://img.icons8.com/external-tal-revivo-tritone-tal-revivo/64/null/external-instagram-photo-and-video-sharing-social-networking-service-owned-by-facebook-logo-tritone-tal-revivo.png")
			&.artstation
				background-image: url("https://img.icons8.com/external-tal-revivo-tritone-tal-revivo/64/null/external-artstation-a-leading-showcase-platform-for-games-film-media-and-entertainment-artists-logo-tritone-tal-revivo.png")
			&.youtube
				background-image: url("https://img.icons8.com/external-tal-revivo-tritone-tal-revivo/64/null/external-youtube-offers-videos-and-music-and-original-content-logo-tritone-tal-revivo.png")
	.copyright
		color: white
		font-size: 0.9em
		a
			text-decoration: none
			color: $secondary-color