/* Basic */

// MSIE: Required for IEMobile.
@-ms-viewport
	width: device-width

body
	-ms-overflow-style: scrollbar // MSIE: Prevents scrollbar from overlapping content.
	background: $bg-color
	font-family: ('Source Sans Pro', Helvetica, sans-serif)
	//second: ('Courier New', monospace)